@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";

.font-sora {
            font-family: "Sora", sans-serif;
}

nav ul a.active {
            text-decoration: underline;
}

.bg-primary {
            background-color : #9538E2;
}
